{% extends 'layout.html' %}
{% block body %}


<div class="sponsor-form">
    <h1>Add Campaign</h1>
    <form action="/add_campaign" method="post">
        <div class="spon-form">
            <div class="spon-form-list">
                <label for="company_name">Company Name</label>
                <input type="text" id="company_name" name="company_name" required>
            </div>
            <div class="spon-form-list">
                <label for="brand_name">Brand Name</label>
                <input type="text" id="brand_name" name="brand_name" required>
            </div>
            <div class="spon-form-list">
                <label for="desc">Description</label>
                <input type="text" id="desc" name="desc" required>
            </div>
            <div class="spon-form-list">
                <label for="industry">Industry</label>
                <input type="text" id="industry" name="industry" required>
            </div>
            <div class="spon-form-list">
                <label for="start_date">Start Date</label>
                <input type="date" id="start_date" name="start_date" required>
            </div>
            <div class="spon-form-list">
                <label for="end_date">End Date</label>
                <input type="date" id="end_date" name="end_date" required>
            </div>
            <div class="spon-form-list">
                <label for="budget">Budget</label>
                <input type="integer" id="budget" name="budget" required>
            </div>
            <input class="sponsor-form-btn" type="submit" value="Submit">
        </div>
    </form>
</div>



{% endblock %}