{% extends 'layout.html' %}
{% block body %}
<div class="sponsors">
    <div class="spon-head">
        <h2>Sponsors campaign</h2>
        {% if role == "sponsor" %}
        <button class="spon-sub"> <a href="/spon_form">Add Campaign</a></button>
        {% endif %}
    </div>

    <div class="sponsors-cards">
        {% for sponsor in sponsors %}
        <div class="sponsors-card">
            <div class="spon-card">
                <h3>Company Name:- {{sponsor.company_name}}</h3>
                <hr class="spon-hr">
                <div class="card-mid">
                    <p>Description:- {{sponsor.desc}}</p>
                    <p>Budget:-- {{sponsor.budget}}</p>
                </div>
                <hr class="spon-hr">
                <div class="card-bot">
                    <button>{{sponsor.industry}}</button>
                    <button>{{sponsor.start_date}}</button>
                    <button>{{sponsor.end_date}}</button>
                </div>
                <hr class="spon-hr">
                <div class="spon-btn">
                    {% if role == "influencer" %}
                    <button class="spon-sub"><a href="#">Contact Us</a></button>
                    {% else %}
                    <button class="spon-sub"><a href="/edit_form/{{sponsor.sponsor_id}}">Edit</a></button>
                    <button class="spon-sub"><a href="/delete_campaign/{{sponsor.sponsor_id}}">Delete</a></button>
                    {% endif %}
                    <!-- <button class="spon-sub"><a href="#">Contact Us</a></button> -->
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}