{% extends 'layout.html' %}
{% block body %}

<main>
    <div class="main-content">
        <h2>Fill The Form For Advertise</h2>
        <form action="/contact_sponsor" method="post">

        <div class="contact-form">
            <div class="form-box">
                <input type="text" id="" name="" placeholder="Enter full Name">
            </div>
            <div class="form-box">
                <input type="text" placeholder="Enter your reach">
            </div>
            <div class="form-box">
                <input type="text" placeholder="Platform Where Advertise ">
            </div>
            <div class="form-box">
                <input type="text" placeholder="Enter Email Id">
            </div>
            <div class="form-box">
                <input type="text" placeholder="Budget Of Advertisement">
            </div>
            <div class="form-box">
                <textarea name="" id="" cols="30" rows="10" placeholder="Desc..."></textarea>
            </div>
            <div class="form-box">
                <button type="submit" class="contact-btn">Submit</button>
            </div>
        </div>
    </div>
</main>
{% endblock %}