{% extends 'layout.html' %}
{% block body %}

<main>
    <div class="main-content">
        <h2>Fill The Form For Sponsor</h2>
        <div class="contact-form">
            <div class="form-box">
                <input type="text" placeholder="Enter Company Name">
            </div>
            <div class="form-box">
                <input type="text" placeholder="Enter Industry Type">
            </div>
            <div class="form-box">
                <input type="text" placeholder="Platform Where Advertise ">
            </div>
            <div class="form-box">
                <input type="text" placeholder="Enter Email Id">
            </div>
            <div class="form-box">
                <input type="text" placeholder="Budget Of sponsor">
            </div>
            <div class="form-box">
                <textarea name="" id="" cols="30" rows="10" placeholder="Desc..."></textarea>
            </div>
            <div class="form-box">
                <button class="contact-btn">Submit</button>
            </div>
        </div>
    </div>
</main>
{% endblock %}