{% extends 'layout.html' %}
{% block body %}
<div class="main-content">
    <h2>Request</h2>
    <form action="/contact_sponsor" method="POST">
        <div class="contact-form">
            
            <div class="form-box">
                <label for="brand">Campaign Name</label>
                <select name="brand_name" class="role">
                    {% for campaign in campaigns %}
                    <option value={{campaign.brand_name}}>{{campaign.brand_name}}</option>   
                    {% endfor %}             
                </select>
            </div>
            <div class="form-box">
                <label for="messages">Message</label>
                <input type="String" id="messages" name="messages" required>
            </div>
            <div class="form-box">
                <label for="requirements">Requirements</label>
                <input type="String" id="requirements" name="requirements" required>
            </div>
            <div class="form-box">
                <label for="payment_amount">Payment Amount</label>
                <input type="Integer" id="payment_amount" name="payment_amount" required>
            </div>
            <button class="btn" type="submit" value="submit">Submit</button>
        </div>

    </form>
</div>

{% endblock %}