{% extends 'layout.html' %}
{% block body %}
<div class="login">
    <h2>Add Request</h2>


    <form action="/coontact_influencer" method="POST">
        <div class="form">
            <div class="form-list">
                <select name="options" class="role">
                    {% for influencer in influencers %}
                    <option value="influencer">{{influencer.username}}</option>   
                    {% endfor %}             
                </select>
            </div>
            <div class="form-list">
                <label for="messages">Message</label>
                <input type="String" id="messages" name="messages" required>
            </div>
            <div class="form-list">
                <label for="requirements">Requirements</label>
                <input type="String" id="requirements" name="requirements" required>
            </div>
            <div class="form-list">
                <label for="payment_amount">Payment Amount</label>
                <input type="String" id="payment_amount" name="payment_amount" required>
            </div>
            <div class="form-list">
                <label for="status">Status</label>
                <input type="String" id="status" name="status" required>
            </div>
            <button class="btn" type="submit" value="submit">Submit</button>
        </div>

    </form>
</div>

{% endblock %}