{% extends 'layout.html' %}
{% block body %}

<div class="influencers">
    <div class="heading">
        <h1>Influencers</h1>
    </div>

    <div class="influe-cards">
        {% for influencer in influencers %}

        <div class="influe-cards-1">

            <div class="influe-card font-color1">
                <img width="320px" src="{{ url_for('get_image',  image_id=influencer.influencer_id) }}" alt="img">

                <div class="desc">
                    <h2>Name- {{influencer.name}}</h2>
                    <p>Category:- {{influencer.category}}</p>
                    <p>Niche:- {{influencer.niche}}</p>
                    <p>Reach:- {{influencer.reach}}</p>
                </div>
                <hr class="spon-hr">
                <div class="spon-btn ">
                    {% if role == "sponsor" %}
                    <button class="spon-sub btn-hoco"><a href="/contact_influencer">Request</a></button>
                    {% elif role == "admin" %}
                    <button class="spon-sub btn-hoco"><a href="/flag_user/{{influencer.user_id}}">Flag/unflag</a></button>
                    {% else %}
                    <button class="spon-sub btn-hoco"><a href="/edit_influencer/{{influencer.influencer_id}}">Edit</a></button>
                    {% endif %}

                </div>

            </div>

        </div>
        {% endfor %}

    </div>

</div>
    {% endblock %}