{% extends 'layout.html' %}
{% block body %}

<div class="influencers">
    <div class="heading">
        <h1>Influencers</h1>
    </div>

    <div class="influe-cards">
        {% for influencer in influencers %}

        <div class="influe-cards-1">

            <div class="influe-card font-color1">
                <img width="320px" src="{{ url_for('get_image',  image_id=influencer.influencer_id) }}" alt="img">

                <div class="desc">
                    <h2> {{influencer.name}}</h2>
                    <p> {{influencer.category}}</p>
                    <p> {{influencer.niche}}</p>
                    <p> {{influencer.reach}}</p>
                </div>
                <hr class="spon-hr">
                <div class="spon-btn ">
                    {% if role == "sponsor" %}
                    <button class="spon-sub btn-hoco"><a href="/contact_influencer">Contact Me</a></button>
                    {% else %}
                    <button class="spon-sub btn-hoco"><a href="/edit_influencer/{{influencer.influencer_id}}">Edit</a></button>
                    {% endif %}

                </div>

            </div>

        </div>
        {% endfor %}

    </div>

</div>
<hr class="horizontal-line">
<section class="sec">
    <h2>Influencers by section</h2>
    <div class="sec-influ">
        <span>Technology</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25" height="25" color="#000000" fill="none">
            <path d="M18 9.00005C18 9.00005 13.5811 15 12 15C10.4188 15 6 9 6 9" stroke="currentColor"
                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>

    </div>
    <div class="sec-influ">
        <span>Travel</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25" height="25" color="#000000" fill="none">
            <path d="M18 9.00005C18 9.00005 13.5811 15 12 15C10.4188 15 6 9 6 9" stroke="currentColor"
                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>

    </div>
    <div class="sec-influ">
        <span>Food & Drink</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25" height="25" color="#000000" fill="none">
            <path d="M18 9.00005C18 9.00005 13.5811 15 12 15C10.4188 15 6 9 6 9" stroke="currentColor"
                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>

    </div>
    <div class="sec-influ">
        <span>Beauty</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25" height="25" color="#000000" fill="none">
            <path d="M18 9.00005C18 9.00005 13.5811 15 12 15C10.4188 15 6 9 6 9" stroke="currentColor"
                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </div>
    <div class="sec-influ">
        <span>Fashion</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25" height="25" color="#000000" fill="none">
            <path d="M18 9.00005C18 9.00005 13.5811 15 12 15C10.4188 15 6 9 6 9" stroke="currentColor"
                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </div>
    <div class="sec-influ">
        <span>Entertainment</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25" height="25" color="#000000" fill="none">
            <path d="M18 9.00005C18 9.00005 13.5811 15 12 15C10.4188 15 6 9 6 9" stroke="currentColor"
                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </div>
    <div class="sec-influ">
        <span>Gaming</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25" height="25" color="#000000" fill="none">
            <path d="M18 9.00005C18 9.00005 13.5811 15 12 15C10.4188 15 6 9 6 9" stroke="currentColor"
                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </div>


    {% endblock %}