
{% extends 'layout.html' %}
{% block body %}
<div class="login">
    <h2>User Login</h2>
    <form action="/login" method="post">
        <div class="form">
            <div class="form-list">
                <label for="username">Role</label>
                <select name="options" class="role">
                    <option value="admin">Admin</option>
                    <option value="influencer">Influencer</option>
                    <option value="sponsor">Sponsor</option>
                </select>
            </div>
            <div class="form-list">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-list">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <input class="btn" type="submit" value="Login">
            <div class="already">
                <p>Don't have an account? <a href="/">Register</a> </p>
            </div>
        </div>
    </form>

</div>

{% endblock %}
