
{% extends 'layout.html' %}
{% block body %}
<div class="login">
    <h2>User Register</h2>


    <form action="/" method="POST">
        <div class="form">
            <div class="form-list">
                <label for="username">Role</label>
                <select name="options" class="role">
                    <option value="influencer">Influencer</option>
                    <option value="sponsor">Sponsor</option>
                </select>
            </div>
            <div class="form-list">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-list">
                <label for="email">Email id</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-list">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button class="btn" type="submit" value="Register">Register</button>
            <div class="already">
                <p>Have an account? <a href="/login">Login</a> </p>
            </div>
        </div>
    </form>
</div>

{% endblock %}
