{% extends 'layout.html' %}
{% block body %}
<div class="main-content">
    <h2>Renegotiate</h2>
    <form action="/renegotiate_request/{{renegotiate.request_id}}" method="POST">
        <div class="contact-form">

            <div class="form-box" >
                <label for="from">from_id</label>
                <input type="Integer" id="from" value="{{renegotiate.from_id}}" name="from" required disabled>
            </div>
            <div class="form-box" >
                <label for="too">too_id</label>
                <input type="Integer" id="too" value="{{renegotiate.too_id}}" name="too" required disabled>
            </div>
            <div class="form-box" >
                <label for="messages">messages</label>
                <input type="String" id="messages" value="{{renegotiate.messages}}" name="messages" required disabled>
            </div>
            <div class="form-box">
                <label for="requirements">requirements</label>
                <input type="String" id="requirements" value="{{renegotiate.requirements}}" name="requirements" required disabled>
            </div>
            <div class="form-box">
                <label for="payment_amount">payment_amount</label>
                <input type="Integer" id="payment_amount" value="{{renegotiate.payment_amount}}" name="payment_amount" required>
            </div>
            <button class="btn" type="submit" value="submit">Submit</button>
        </div>

    </form>
</div>

{% endblock %}