{% extends 'layout.html' %}
{% block body %}

<div class="profile">
    <h1>Sponsor Profile</h1>

    <div class="profile-con">
        <div class="left-con">
            <div class="influ-profile">
                <img width="320px" src="{{ url_for('get_image1', image_id=sponsor.sponsor_id) }}" alt="image">
                <div class="left-con-desc">
                    <h2>Company Name:- {{ sponsor.company_name }}</h2>
                    <h2>Desc:- {{ sponsor.desc }}</h2>
                    <h2>Industy:-{{ sponsor.industry }}</h2>
                    <button style="width: 18vw;" class="btn"><a href="/edit_sponsor/{{sponsor.sponsor_id}}">Edit</a></button>
                </div>

            </div>

        </div>
        <div class="right-con">


            <h2>Send</h2>
            <div class="campaigns">
                {% for request in request_sponsor %}

                <div class="campaign">
                    <div class="camp-content">
                        <p class="para">{{ request.from_id }}</p>
                        <p class="para">{{ request.brand_name }}</p>
                        <p class="para">{{ request.payment_amount }}</p>
                    </div>
                    <div class="camp-btn">
                        <button class="btn"><a href="/edit_request/{{request.request_id}}">Edit</a></button>
                        <button class="btn"><a href="/delete_request/{{request.request_id}}">Delete</a></button>
                    </div>
                </div>
                {% endfor %}
            </div>



            <h2>Recieve</h2>

            <div class="campaigns">
                {% for renegotiate in renegotiate_sponsor %}

                <div class="campaign">
                    <div class="camp-content">
                        <p class="para">{{ renegotiate.from_id }}</p>
                        <p class="para">{{ renegotiate.brand_name }}</p>
                        <p class="para">{{ renegotiate.payment_amount }}</p>
                    </div>
                    <div class="camp-btn">
                        <button class="btn"><a href="/request_sponsor/{{renegotiate.request_id}}">Accept</a></button>
                        <button class="btn"><a href="/delete_request/{{renegotiate.request_id}}">Delete</a></button>
                    </div>
                </div>
                {% endfor %}

            </div>


            
        </div>
    </div>
</div>

{% endblock %}