{% extends 'layout.html' %}
{% block body %}

<div class="profile">
    <h1>Sponsor Profile</h1>

    <div class="profile-con">
        <div class="left-con">
            <div class="influ-profile">
                <img width="320px" src="{{ url_for('get_image1', image_id=sponsor.sponsor_id) }}" alt="image">
                <div class="left-con-desc">
                    <h2>Company Name:- {{ sponsor.company_name }}</h2>
                    <h2>Desc:- {{ sponsor.desc }}</h2>
                    <h2>Industy:-{{ sponsor.industry }}</h2>
                    <button style="width: 18vw;" class="btn"><a href="/edit_sponsor/{{sponsor.sponsor_id}}">Edit</a></button>
                </div>

            </div>

        </div>
        <div class="right-con">
            <div class="campaigns">
                <div class="campaign">
                    <div class="camp-content">
                        <p class="para">ASHISH CHANCHALANI</p>
                        <p class="para">25000 Rs</p>
                    </div>
                    <div class="camp-btn">
                        <button class="btn">Accept</button>
                        <button class="btn">Reject</button>
                        <button class="btn">Renogotiate</button>
                    </div>
                </div>
                <div class="campaign">
                    <div class="camp-content">
                        <p class="para">ASHISH CHANCHALANI</p>
                        <p class="para">25000 Rs</p>
                    </div>
                    <div class="camp-btn">
                        <button class="btn">Accept</button>
                        <button class="btn">Reject</button>
                        <button class="btn">Renogotiate</button>
                    </div>
                </div>
                <div class="campaign">
                    <div class="camp-content">
                        <p class="para">ASHISH CHANCHALANI</p>
                        <p class="para">25000 Rs</p>
                    </div>
                    <div class="camp-btn">
                        <button class="btn">Accept</button>
                        <button class="btn">Reject</button>
                        <button class="btn">Renogotiate</button>
                    </div>
                </div>
                <div class="campaign">
                    <div class="camp-content">
                        <p class="para">ASHISH CHANCHALANI</p>
                        <p class="para">25000 Rs</p>
                    </div>
                    <div class="camp-btn">
                        <button class="btn">Accept</button>
                        <button class="btn">Reject</button>
                        <button class="btn">Renogotiate</button>
                    </div>
                </div>
                <div class="campaign">
                    <div class="camp-content">
                        <p class="para">ASHISH CHANCHALANI</p>
                        <p class="para">25000 Rs</p>
                    </div>
                    <div class="camp-btn">
                        <button class="btn">Accept</button>
                        <button class="btn">Reject</button>
                        <button class="btn">Renogotiate</button>
                    </div>
                </div>
                <div class="campaign">
                    <div class="camp-content">
                        <p class="para">ASHISH CHANCHALANI</p>
                        <p class="para">25000 Rs</p>
                    </div>
                    <div class="camp-btn">
                        <button class="btn">Accept</button>
                        <button class="btn">Reject</button>
                        <button class="btn">Renogotiate</button>
                    </div>
                </div>
                <div class="campaign">
                    <div class="camp-content">
                        <p class="para">ASHISH CHANCHALANI</p>
                        <p class="para">25000 Rs</p>
                    </div>
                    <div class="camp-btn">
                        <button class="btn">Accept</button>
                        <button class="btn">Reject</button>
                        <button class="btn">Renogotiate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}