{% extends 'layout.html' %}
{% block body %}

<div class="influencers">
    <div class="heading">
        <h1>Sponsors</h1>
    </div>
    
    <div class="influe-cards">
        {% for sponsor in sponsors %}

        <div class="influe-cards-1">

            <div class="influe-card font-color1">
                <img width="320px" src="{{ url_for('get_image1',  image_id=sponsor.sponsor_id) }}" alt="img">

                <div class="desc">
                    <h3>Name- {{sponsor.company_name}}</h3>
                    <p>Industry:- {{sponsor.industry}}</p>
                    <p>Desc:- {{sponsor.desc}}</p>
                </div>
                <hr class="spon-hr">
                <div class="spon-btn ">
                    {% if role == "sponsor" %}
                    <button class="spon-sub btn-hoco"><a href="/contact_influencer">Contact Me</a></button>
                    {% elif role == "admin" %}
                    <button class="spon-sub btn-hoco"><a href="/flag_user/{{sponsor.user_id}}">Flag/unflag</a></button>
                    {% else %}
                    <button class="spon-sub btn-hoco"><a href="/edit_influencer/{{influencer.influencer_id}}">Edit</a></button>
                    {% endif %}

                </div>

            </div>

        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}